/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/*html, body { height: 100%; }*/

body {
  background-color: #666;
  font: lucida, sans-serif;
  font-size: 140%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 150%; 
}

p { margin: 1em 0; }

a:link, a:hover, a:visited, a:active {
    text-decoration:none
}

a:link, a:visited, a:active { color: #ff8f57; }
a:hover{ color: #ddd }

section {
   margin: 4rem auto; 
}
/*****************************************************************************/
/*
/* Menu
/*
/*****************************************************************************/
.menu{
    margin: -2rem auto 3rem;
}

.menu a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.7rem;
    display: block;
    padding: 1rem;
}

.menu a:visited,
.menu a:link,
.menu a:active {
    color: #ff8f57;
}

.menu a:hover{
  background-color: #999;
  color: #fff;
}

.menu ul > li {
    background-color: #fff;
    margin: 0;
    padding: 0;
    /*padding: 1rem;*/
}

.menu .active{
    background-color: #ff8f57;
}

.menu .active a:visited,
.menu .active a:link,
.menu .active a:active {
  color: #fff;
}

.menu ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  width: 100%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .sub-heading{
  font-weight: bold;
  color: #CF5300;
}

.title {
  font-weight: bold;
  display: inline-block;
}

.title a {
  color: #a00;
  text-transform: uppercase;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.main-grid{
    background-color: #fff;
    text-align: justify;
    /*margin: 1rem;*/
}

/*.main-grid a:link,*/
/*.main-grid a:active,*/
/*.main-grid a:visited{*/
    /*color: #428bca !important;*/
/*}*/

/*.main-grid a:hover{*/
    /*color: #F76F14 !important;*/
/*}*/

footer {
  color: #fff;
  font-size: 90%;
  overflow: hidden;
}

.social{
  font-size:150%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Mobile Overrides
/*
/*****************************************************************************/

@media (max-width:995px){
    .main-grid .custom-row{
        margin: 2.5rem;
    }
}

/*****************************************************************************/
/*
/* Custom Additions
/*
/*****************************************************************************/

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.custom-row:before, .custom-row:after{display:table;content:" "}
.custom-row:after{clear:both}
.custom-row:before, .custom-row:after{display:table;content:" "}
.custom-row:after{clear:both}
